body {
    background-color: azure;
   
}

.mission h6 {
    display: flex;
}

.p1 p {
    padding-left: 20PX;
}

.p1 nav ul {
    padding-left: 700px;
  
}

a {
    text-decoration: none;
    padding-right: 40px;
}

.p1 {
    color: black;
    font-family: sans-serif;
    display: inline-flex;
}

section {
    background-color: rgb(222, 245, 245);
    height: 520px;
}

.p2 {
    color: chocolate;
  
}


.p2 p {
    padding-left: 20PX;
}

.wrap nav a {
   
    text-align: end;
    text-decoration: solid;

}

.pge1 {
    text-align: left;
    font-size: 15px;
   
    padding-left: 30PX;
}

.pge1 p {
    color: rgb(120, 120, 156);
}

.pge1 i {
    border-radius: 500px;
    background-color: rgb(243, 243, 250);

}

.pge1 h2 {
    font-family: sans-serif;
    font-size: 50px;
}

.pge1 button {
    margin-top: 50px;
    background-color: rgb(99, 190, 190);
    border-radius: 20px;
    border: none;
    color: white;
    padding-left: 10PX;
    margin-left:60px ;

}

.imge img {
    width: 550px;
    height: 200px;
    
}

.emo img {
    background-color: rgb(220, 220, 231);
}

.services {
    padding: 100px;
    
    display: inline-flex;
}

.text {
    padding: 30px;
     margin: 100px; 
    background-color: white;
}


.text i {
    color: rgb(9, 117, 117);
    border:solid #d0f1f1 15px;
    border-radius: 20px;
}

.text1 {
    padding: 30px;
     margin: 100px; 
    background-color: white;
}

.text1 i {
    color: rgb(9, 117, 117);
    border:solid #d0f1f1 15px;
    border-radius: 20px;
}

.text2 {
    padding: 30px;
     margin: 100px; 
    background-color: white;
}

.text2 i {
    color: rgb(9, 117, 117);
    border:solid #d0f1f1 15px;
    border-radius: 20px;
}

.sev1 {
    display: inline-flex;
    font-family: sans-serif;
}

.sev1 p {
    color: rgb(120, 120, 156);
}

.text3 {
    padding: 30px;
     margin: 100px; 
    background-color: white;
}

.text3 i {
    color: rgb(9, 117, 117);
   border:solid #d0f1f1 15px;
   border-radius: 20px;
}

.text4 {
    padding: 30px;
     margin: 100px; 
    background-color: white;
}

.text4 i {
    color: rgb(9, 117, 117);
    border:solid #d0f1f1 15px;
    border-radius: 20px;
}

.text5 {
    padding: 30px;
     margin: 100px; 
    background-color: white;
}

.text5 i {
    color: rgb(9, 117, 117);
    border:solid #d0f1f1 15px;
    border-radius: 20px;
}
span{
  color: orange;
}

.sev2 {
    display: inline-flex;
    font-family: sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
}

.sev2 p {
    color: rgb(120, 120, 156);
}


.imge {
    margin-left: 60%;
    border-radius: 50%;
    position: absolute;
    height: 50%;
    width: 30%;
    margin-left: 60%;
    margin-top: -10px;
    border: 45px solid rgb(210, 226, 233);
   
}

.staff img {
    padding-left: 10px;
    background-color: #6689ca;
    border-radius: 300px;
    width: 10%;
    height: 7%;
}


.mission img {
    border-radius: 300px;
    width: 10%;
    height: 4%;
    background-color: #6689ca;
}

.imge img {
    height: 300px;
    width: 370px;
}

.pic {
    display: flex;
}
.pic h5{
    padding-left: 10%;
}

.pc {
    display: flex;
}
.pc h5{
    padding-left: 10%
}

.services {
    padding: 30px;
   
    display: inline-flex;
    padding-bottom: 10px;
}

.service h2 {
    font-size: 30px;
}

.services p {
    padding-left: 470px;
    color: rgb(120, 120, 156);
}

.patient {
    padding: 30px;
    margin-top: 100px;
    display: inline-flex;
    font-family: sans-serif;
    padding-top: -10px;
}

.patient h3 {
    font-size: 35px;
    font-family: sans-serif;
}

.patient p {
    padding-left: 500px;
    font-family: sans-serif;
    color: rgb(120, 120, 156);
}

.doc1 {
    border-radius: 20px;
    margin-left: 60px; 
    padding-left: 30px;
    width: 180px;
    height: 430px;
    background-color: rgb(240, 235, 226);
}

.doc1 p {
    color: rgb(120, 120, 156);

}

.doc2 {
    border-radius: 20px;
    margin-left: 200px; 
    padding-left: 30px;
    width: 190px;
    height: 430px;
    background-color: rgb(222, 247, 247);
}

.doc2 p {
    color: rgb(120, 120, 156);
}

.doc3 {
    border-radius: 20px;
     margin-left: 300px; 
     padding: 30px; 
     width: 180px;
     height: 390px;
    background-color: rgb(247, 236, 221);
}

.doc3 p {
    color: rgb(120, 120, 156);
}

.doc3 div {
    background-color: none;
    padding-right: 60px;
}

.images {
    display: inline-flex;
    font-family: sans-serif;
}

.emo img {
    width: 380px;
   margin-left: 70px;
   margin-top: 30px;
    padding: 70px;
    height: 380px;
    background-color: rgb(190, 196, 196);
    border-radius: 20px;
}

.information {
     padding: 30px; 
     margin-left: 300px; 
}

.information h3 {
    font-size: 30px; 
    
}

.information button {
    background-color: #6689ca;
    border-radius: 15px;
    border: none;


}

.phone {
    display: inline-flex;
    background-color: rgb(213, 247, 247);
    font-family: sans-serif;
}

.phone p {
    color: rgb(120, 120, 156);
}

.mission {
    padding-left: 100px;
      margin: 70px;  
    background-color: white;
    background-size: cover;

}

.str {
    color: rgb(231, 215, 66);
    margin-top: 40px; 

}

.mission p {
    color: rgb(120, 120, 156);
}

.mission nav{
    color: rgb(228, 250, 250);
    font-size: 70px;
}

.mission h6 {
    color: rgb(120, 120, 156);
    padding-left: 20%;
    

}

.staff {

    padding-left: 100px;
     margin: 70px; 
    background-color: white;
    background-size: cover;


}

.staff h6 {
    color: rgb(120, 120, 156);
    padding-left: 25%;
}

.staff p {
    color: rgb(120, 120, 156);
}

.star {
    color: rgb(240, 209, 74);
     margin-top: 40px; 

}

.staff nav {
    color: rgb(230, 253, 253);
    font-size: 70px;
}

.thanks {
    display: inline-flex;
    padding-bottom: 40px;
    font-family: sans-serif;
    padding-top: 20px;

}

.first {
    padding: 30px;
     margin: 70px; 
}

.first p {
    color: rgb(173, 173, 201);
}

.first i {
    height: 20px;
    width: 20px;
}

#fb {
    background-color: rgb(43, 43, 245);
    border-radius: 10px;
}

#twt {
    background-color: rgb(106, 106, 194);
    border-radius: 10px;
}

#gle {
    background-color: rgb(236, 107, 22);
    border-radius: 10px;
}

#lnk {
    background-color: rgb(13, 13, 143);
    border-radius: 10px;
}

.second {
    padding: 30px;
     margin: 70px; 
}

.second p {
    color: rgb(120, 120, 156);
}

.second i {
    background-color: red;
}

.third {
    padding: 30px;
     margin: 70px; 
}


.third p {
    color: rgb(120, 120, 156);
}

.third i {
    background-color: brown;
}

.fourth {
    padding: 30px;
      margin-top: 70px;

}

.fourth p {
    color: rgb(120, 120, 156);
}

.footer {
    display: inline-flex;
    font-family: sans-serif;

}

.subscribe {
    padding: 40px;
    background-color: rgb(220, 253, 248);
    align-content: center;
    font-size: 25px;
    width: 700px;
    height: 200px;
    margin-top: 100px;
    margin-left: 14%;
    text-align: center;
    font-family: sans-serif;
    border-radius: 10px;
}


.email {
    margin-top: 10px;
    margin-bottom: 50px;
    padding: 30px;
    background-color: rgb(245, 252, 252);
    text-align: left;
    font-family: sans-serif;
}

.email button {
    background: rgb(99, 97, 218);
    color: white;
    padding-left: 50px;
    border-radius: 15px;
    border: none;
}

.email input {
    margin-top: 30px;
    padding-right: 200px;
}

h1 {
    font-size: 35px;
    font-family: sans-serif;
}

.Doctors h6 {
    text-align: right;
    padding-right: 60px;
    color: rgb(120, 120, 156);
}

.patient h6 {
    padding-top: 100px;
    padding-right: 60px;
    display: flex;
    color: rgb(120, 120, 156);
}

#utube {
    color: rgb(40, 74, 226);
    width: 40px;
    height: 40px;
    padding-top: 18px;
    padding-left: 20px;
    margin-left:60px ;
   
}